<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="foundRecognitions" style="display: none" th:fragment="found-recognitions-framgent" class="card mb-3">
    <div class="card-header">
        <i class="fas fa-trophy"></i> Recognitions found
    </div>
    <div class="card-body">
        <div class="row newer-row align-items-center">
            <div class="col-sm-2 text-center">
                <i class="far fa-user-circle"></i>
            </div>
            <div class="col-sm-10">
                <p><strong id="receiverFound"></strong>
                    has received a
                    <span id="badgeFound"></span>
                    from
                    <strong id="senderFound"></strong><br/>
                    for <em id="reasonFound"></em><br/>
                    because <em id="commentFound">comment</em>
                </p>
                <small id="dateFound">on date</small>
            </div>
        </div>
    </div>
</div>
</html>