<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/my-fragments :: header-fragment"></head>
<body>
<div th:replace="fragments/my-fragments :: navbar-fragment"></div>
<div class="container" id="main">
    <h1 class="display-4" th:text="'Hi ' + ${user.firstName} + '!'"></h1>
    <div th:replace="fragments/my-fragments :: user-details-fragment"></div>
    <h1 class="display-4" th:if="${isAdmin}">User details</h1>
    <div class="table-responsive">
        <table class="text-center table table-light table-bordered" th:if="${isAdmin}">
            <thead>
            <tr class="table-success">
                <th scope="col">ID</th>
                <th scope="col">Photo</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
                <th scope="col">Active</th>
                <th scope="col">Gold shareable</th>
                <th scope="col">Silver shareable</th>
                <th scope="col">Bronze shareable</th>
                <th scope="col">Gold redeemable</th>
                <th scope="col">Silver redeemable</th>
                <th scope="col">Bronze redeemable</th>
                <th scope="col">Points</th>
            </tr>
            </thead>
            <form id="userDetailsForm">
                <tbody>
                <tr th:each="user: ${users}">
                    <th scope="row" th:text="${user.id}"></th>
                    <td>
                        <img class="img-fluid user-photo"
                             th:src="${(user.photo != null) ? user.getPhoto() : '/images/TTN-small.png'}"/>
                    </td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.email}"></td>
                    <td>
                        <select style="width: 12em" multiple class="form-control"
                                id="userRoleSet">
                            <th:block th:each="userRole: ${user.getRolesAsList()}">
                                <option th:text="${userRole}"></option>
                            </th:block>
                        </select>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="${user.getActive()}"/>
                        </div>
                    </td>
                    <td th:text="${user.goldShareable}"></td>
                    <td th:text="${user.silverShareable}"></td>
                    <td th:text="${user.bronzeShareable}"></td>
                    <td>
                        <input style="width: 3em" type="number" min="0" th:value="${user.getGoldRedeemable()}"/>
                    </td>
                    <td>
                        <input style="width: 3em" type="number" min="0" th:value="${user.getSilverRedeemable()}"/>
                    </td>
                    <td>
                        <input style="width: 3em" type="number" min="0" th:value="${user.getBronzeRedeemable()}"/>
                    </td>
                    <td th:text="${user.points}"></td>
                </tr>
                </tbody>
            </form>
        </table>
    </div>
</div>
<div th:replace="fragments/my-fragments :: footer-fragment"></div>
</body>
</html>
